@font-face {
  font-family: 'Glamor Bold';
  src: url('../assets/fonts/Glamor-Bold.ttf');
}

@font-face {
  font-family: 'Octosquare Condensed';
  src: url('../assets/fonts/Octosquare-condensed.ttf');
}
