$black: #000;
$white: #fff;
$glamor: 'Glamor Bold';
$octo: 'Octosquare Condensed';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $black;
  color: $white;
  font-family: $octo;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 40em;
}

.container {
  padding: 1em;
}

.white-bg {
  background: $white;
  color: $black;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

// HEADER SECTION
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  .logo {
    width: 3em;
  }

  .open {
    width: 3.5em;
    align-self: center;
    margin-top: -1em;
    cursor: pointer;
    vertical-align: middle;
  }

  nav {
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .close {
      float: right;
      margin: 1.35em 1em;
      width: 3.5em;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 8.5em 0 2.5em;

      li {
        text-align: center;

        a {
          color: $black;
          line-height: 2.5;
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}

// JS OPEN MENU
.open-nav {
  transform: translateX(0%);
}

// MAIN SECTION
.home-section {
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;

  h1 {
    font: 5rem $glamor;
    margin-bottom: 0;
  }

  p {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .cta {
    display: inline-block;
    text-decoration: none;
    font: 1.5rem $octo;
    padding: 0.3em 1.8em;
    border: 0.2rem solid $white;
    color: $white;
    transition: all 0.15s ease-in-out;
    margin-bottom: 4em;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  .down-arrow {
    display: block;
    width: 2.5em;
    margin: 0 auto;
    animation: moveArrow 0.9s alternate-reverse infinite;

    //DOWN ARROW
    @keyframes moveArrow {
      from {
        transform: translateY(-10px);
      }

      to {
        transform: translateY(10px);
      }
    }
  }
}

/********----
 COMBINATION OF RESOURCE SECTION AND EVENT SECTION
----********/
.flex-boxes {
  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3em 3em 5em;

    h2 {
      color: $black;
      margin: 0;
    }

    .box {
      max-width: 40em;
      padding: 1.5em;
      border: 2px solid $black;
      border-radius: 3em;

      img {
        display: block;
        max-width: 35rem;
        min-height: 5em;
        min-height: 1em;
        border-radius: 1em;
      }

      h3 {
        margin: 0.8em 0 0.5em;
        font-size: 2rem;
        text-align: center;
        color: $black;
      }
    }
  }
}

// WHO-ARE-WE SECTION
.about-section {
  background: $black;
  padding: 2em 0 5em;

  .about-txt {
    color: $white;

    h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1em;
    }

    p:last-child {
      margin-bottom: 2em;
    }
  }

  .work-img {
    display: flex;
    justify-content: center;
  }
}

// TEAM-MEMBERS-SECTION
.team-section {
  background: $black;
  padding: 2em;

  h2 {
    color: $white;
    margin: 0 0 0.7em;
  }

  .member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $white;
    border-radius: 1em;
    max-width: 38em;
    margin: 0 auto 2em;
    padding: 2em;
    color: $white;

    .user-img {
      border: 3px solid $white;
      padding: 0.3em;
      height: 12.5em;
      max-width: 12.5em;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
    }

    h3 {
      font-size: 2.8rem;
      margin: 0.5em 0 0.8em;
    }

    .connect-links {
      display: flex;

      img {
        width: 50px;
        height: 50px;
      }

      .linkedin-dark {
        width: 45px;
      }
    }
  }
}

// FOOTER-SECTION
footer {
  text-align: center;

  .footer-section {
    padding: 2em 0.5em 1em;

    .links {
      margin: 5em 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;

      .link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5em;

        a {
          width: 3em;
        }

        img {
          width: 2em;
        }

        .linkedin-svg {
          width: 2.5em;
        }

        .tweet-svg {
          flex: 1;
          width: 3em;
          height: 2.5em;
        }

        .img-link {
          align-self: center;
        }

        .link-name {
          align-self: self-start;
          color: $black;
          padding-top: 0.2em;
        }

        .linkedin {
          padding-top: 0.5em;
        }

        .twitter {
          padding-top: 0.42em;
        }
      }
    }

    p {
      font-size: 1.3rem;
    }
  }
}
