* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Octosquare Condensed";
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 40em;
}

.container {
  padding: 1em;
}

.white-bg {
  background: #fff;
  color: #000;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
header .logo {
  width: 3em;
}
header .open {
  width: 3.5em;
  align-self: center;
  margin-top: -1em;
  cursor: pointer;
  vertical-align: middle;
}
header nav {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
header nav .close {
  float: right;
  margin: 1.35em 1em;
  width: 3.5em;
  cursor: pointer;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 8.5em 0 2.5em;
}
header nav ul li {
  text-align: center;
}
header nav ul li a {
  color: #000;
  line-height: 2.5;
  letter-spacing: 0.08rem;
}

.open-nav {
  transform: translateX(0%);
}

.home-section {
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
.home-section h1 {
  font: 5rem "Glamor Bold";
  margin-bottom: 0;
}
.home-section p {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0em;
  margin-bottom: 2em;
}
.home-section .cta {
  display: inline-block;
  text-decoration: none;
  font: 1.5rem "Octosquare Condensed";
  padding: 0.3em 1.8em;
  border: 0.2rem solid #fff;
  color: #fff;
  transition: all 0.15s ease-in-out;
  margin-bottom: 4em;
}
.home-section .cta:hover {
  background: #fff;
  color: #000;
}
.home-section .down-arrow {
  display: block;
  width: 2.5em;
  margin: 0 auto;
  animation: moveArrow 0.9s alternate-reverse infinite;
}
@keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

/********----
 COMBINATION OF RESOURCE SECTION AND EVENT SECTION
----********/
.flex-boxes .flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3em 3em 5em;
}
.flex-boxes .flex-box h2 {
  color: #000;
  margin: 0;
}
.flex-boxes .flex-box .box {
  max-width: 40em;
  padding: 1.5em;
  border: 2px solid #000;
  border-radius: 3em;
}
.flex-boxes .flex-box .box img {
  display: block;
  max-width: 35rem;
  min-height: 5em;
  min-height: 1em;
  border-radius: 1em;
}
.flex-boxes .flex-box .box h3 {
  margin: 0.8em 0 0.5em;
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.about-section {
  background: #000;
  padding: 2em 0 5em;
}
.about-section .about-txt {
  color: #fff;
}
.about-section .about-txt h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.about-section .about-txt p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.about-section .about-txt p:last-child {
  margin-bottom: 2em;
}
.about-section .work-img {
  display: flex;
  justify-content: center;
}

.team-section {
  background: #000;
  padding: 2em;
}
.team-section h2 {
  color: #fff;
  margin: 0 0 0.7em;
}
.team-section .member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 1em;
  max-width: 38em;
  margin: 0 auto 2em;
  padding: 2em;
  color: #fff;
}
.team-section .member-info .user-img {
  border: 3px solid #fff;
  padding: 0.3em;
  height: 12.5em;
  max-width: 12.5em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.team-section .member-info h3 {
  font-size: 2.8rem;
  margin: 0.5em 0 0.8em;
}
.team-section .member-info .connect-links {
  display: flex;
}
.team-section .member-info .connect-links img {
  width: 50px;
  height: 50px;
}
.team-section .member-info .connect-links .linkedin-dark {
  width: 45px;
}

footer {
  text-align: center;
}
footer .footer-section {
  padding: 2em 0.5em 1em;
}
footer .footer-section .links {
  margin: 5em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
footer .footer-section .links .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5em;
}
footer .footer-section .links .link a {
  width: 3em;
}
footer .footer-section .links .link img {
  width: 2em;
}
footer .footer-section .links .link .linkedin-svg {
  width: 2.5em;
}
footer .footer-section .links .link .tweet-svg {
  flex: 1;
  width: 3em;
  height: 2.5em;
}
footer .footer-section .links .link .img-link {
  align-self: center;
}
footer .footer-section .links .link .link-name {
  align-self: self-start;
  color: #000;
  padding-top: 0.2em;
}
footer .footer-section .links .link .linkedin {
  padding-top: 0.5em;
}
footer .footer-section .links .link .twitter {
  padding-top: 0.42em;
}
footer .footer-section p {
  font-size: 1.3rem;
}/*# sourceMappingURL=main.css.map */