$black: #000;
$white: #fff;
$glamor: 'Glamor Bold';
$octo: 'Octosquare Condensed';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $black;
  color: $white;
  // scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 400px;
}

.container {
  padding: 1em;
}

h2 {
  font: 4rem $octo;
  text-align: center;
}

a {
  font: 1.6rem $octo;
  text-decoration: none;
}

// HEADER SECTION
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  .logo {
    width: 3em;
  }

  .open {
    width: 3.5em;
    align-self: center;
    margin-top: -1em;
    cursor: pointer;
    vertical-align: middle;
  }

  nav {
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .close {
      float: right;
      margin: 1.35em 1em;
      width: 3.5em;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 8.5em 0 2.5em;

      li {
        text-align: center;

        a {
          color: $black;
          line-height: 2.5;
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}

// JS OPEN MENU
.open-nav {
  transform: translateX(0%);
}

// MAIN SECTION
.home-section {
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;

  h1 {
    font: 5rem $glamor;
    margin-bottom: 0;
  }

  p {
    font: 2rem $octo;
    line-height: 1.5;
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .cta {
    display: inline-block;
    text-decoration: none;
    font: 1.5rem $octo;
    padding: 0.3em 1.8em;
    border: 0.2rem solid $white;
    color: $white;
    transition: all 0.15s ease-in-out;
    margin-bottom: 8em;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  .down-arrow {
    display: block;
    width: 2.5em;
    margin: 0 auto;
    animation: moveArrow 0.8s alternate-reverse infinite;

    //DOWN ARROW
    @keyframes moveArrow {
      from {
        transform: translateY(-8px);
      }

      to {
        transform: translateY(10px);
      }
    }
  }
}

// ABOUT-SECTION
.about-section {
  background: $white;
  padding: 2em 0 5em;

  .about-txt {
    color: $black;

    h2 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    p {
      font: 1.5rem $octo;
      margin-bottom: 1em;
    }

    p:last-child {
      margin-bottom: 2em;
    }
  }

  .work-img {
    display: flex;
    justify-content: center;
  }
}

// RESOURCE SECTION
.resource-section {
  // background-color: #727272;

  .resources-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5em 1em;

    .resource {
      max-width: 40em;
      padding: 1em;
      border: 2px solid #0f0;
      border-radius: 1em;

      img {
        max-width: 35em;
      }

      h3 {
        margin: 0.5em 0;
        font-size: 2rem;
        text-align: center;
        color: $white;
      }
    }
  }
}
