$black: #000;
$white: #fff;
$glamor: 'Glamor Bold';
$octo: 'Octosquare Condensed';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $black;
  color: $white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

// HEADER SECTION
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  .logo {
    width: 5em;
  }

  .open {
    width: 3.5em;
    align-self: center;
    margin-top: -5px;
    cursor: pointer;
  }

  nav {
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    .close {
      float: right;
      margin: 1.35em 1em;
      width: 3.5em;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 8.5em 0 2.5em;

      li {
        text-align: center;

        a {
          font: 1.6rem $octo;
          color: $black;
          text-decoration: none;
          line-height: 2.5;
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}

// JS OPEN MENU
.open-nav {
  transform: translateX(0%);
}

// MAIN SECTION
.home-sect {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font: 5rem $glamor;
    margin-bottom: 0;
  }

  p {
    font: 2rem $octo;
    line-height: 1.5;
    margin-top: 0em;
  }

  .cta {
    display: inline-block;
    text-decoration: none;
    font: 1.5rem $octo;
    padding: 0.3em 1.8em;
    border: 0.2rem solid $white;
    color: $white;
    margin-bottom: 6em;
    transition: all 0.15s ease-in-out;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  .down-arrow {
    position: absolute;
    width: 3em;
    bottom: 1.5em;
    animation: moveArrow 1s alternate-reverse infinite;

    //DOWN ARROW
    @keyframes moveArrow {
      from {
        transform: translateY(-8px);
      }

      to {
        transform: translateY(10px);
      }
    }
  }
}
