body {

    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vmax;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}
.ad {
    margin-left: 280px;
    color: aliceblue;
    font-size: 40px;
    padding-top: 100px;


}
::-webkit-scrollbar {
    width: 0px;

    background: transparent;
    
}
.ad{
    align-items: center;
}

p {
    color: #828282;
}

.container {
    width: 100%;
    min-height: 10vh;
    padding: 5px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    margin-right: 20px;
    cursor: pointer;
}

.devkul-text {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}




.nav-links li:hover {
    background-color: #000;
    /* Changed background color on hover */
}

.nav-links li:hover a {
    color: #fff;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    /* Reduced margin for better spacing */
    padding: 15px 25px;
    /* Adjusted padding for wider black background */
    position: relative;
}




.SubMenu-1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    border-radius: 3px;
    min-width: 180px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li:hover .SubMenu-1 {
    display: block;
}

.SubMenu-1 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.SubMenu-1 ul li {
    padding: 10px 20px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    white-space: nowrap;
    text-align: left;
}

.SubMenu-1 ul li:last-child {
    border-bottom: none;
}

.SubMenu-1 ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.SubMenu-1 ul li:hover {
    background-color: #333;
}


.button {
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-align: left;
    height: 52px;
    min-width: 137px;

    cursor: pointer;
    margin-right: 10px;
}

h2 {
    font-weight: bold;
}

.HomePage {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.text {
    max-width: 60%;
    padding-right: 20px;
    font-size: 4;
    line-height: 150%;
    text-align: center;
    color: #828282;
}

.text h2 {
    color: #000;
    font-weight: Bold;
    font-size: 40;
}

.buttons {
    margin-top: 10px;
}

.community {
    max-width: 381px;
    height: 462px;
    border-radius: 15px;
    padding-left: 60px;
}

hr {
    border: 5px solid black;
    margin: 20px 0;
    /* Adjust the margin as needed */
}

.devkul-text {
    font-weight: bold;
    /* Make the text bold */
    margin-left: 20px;
    /* Add spacing between logo and text */
}


.community-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* Add some spacing between the columns */
}

.community-image img {
    width: 40%;
    border-radius: 40px;
    margin-left: 200px;
    /* Add margin from the left */
}

.community-content {
    text-align: center;
    padding-left: 10px;
    font-size: 22px;
    margin-left: 100px;

}

.Uni-Resources .nav-links {
    margin-left: 20px;
   
    margin-right: 20px;
   
}

.Uni-Resources .nav-left {
    margin-left: 70px;
    margin-bottom: 30px;
}


.Uni-Resources .nav-links a {
    font-weight: bold;
}


.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image-container a {
    color: #000;
    text-decoration: none;

}

.image-container a h3 {
    font-size: 24;
    font-weight: bold;

}

.image-item {
    text-align: left;
    width: 80%;
    margin-left: 80px;
}

.image-item img {
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}


.blg-container {
    display: flex;
    align-items: center;
    padding: 20px;

}

.blg-img {
    flex: 1;
    margin-right: 20px;

}

.blg-img img {

    max-width: 381px;
    height: 462px;
    border-radius: 20px;
    padding: 10px;
}

.blg-content {

    flex: 2;
    flex-direction: column;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: -100px;
}

.con {
    margin-left: 100px;
    margin-right: 40px;
    flex: 1;
    background-color: #212121;
    border-top-right-radius: 30px;
    padding-left: 20px;
    text-align: center;
    width: 70%;
    font-size: 18px;

}

.con h1 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.con p {
    width: 80%;
    line-height: 1.5;
}

.ad {
    margin-left: 280px;
    color: aliceblue;
    font-size: 40px;
    padding-top: 100px;


}

.social {
    margin-top: 30px;
}

.social i {
    margin-right: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.social i:hover {
    font-size: 3rem;
}

.instagram:hover {
    color: #dd2a7b;
}

.instagram {
    color: aliceblue;
}

.twitter:hover {
    color: #1da1f2;
}

.twitter {
    color: aliceblue;
}

.linkedin:hover {
    color: #0077b5;
}

.linkedin {
    color: aliceblue;
}

.youtube:hover {
    color: #e62117;
}

.youtube {
    color: aliceblue;
}

.AboutUs-Img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutUs-Img img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.AboutUs {
    background-color: #000;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.column {
    width: 100%;
    padding: 0.5em 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
}

.card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
}

.card .img-container {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.card h3 {
    font-weight: 500;
}

.card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card a {
    text-decoration: none;
    color: #828282;
    font-size: 1.4em;
}

.card:hover {
    background: #000;
    color: #ffffff;
}

.card:hover .img-container {
    transform: scale(1.15);
}

@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }

    .card {
        padding: 5em 1em;

    }

    .column {
        flex: 0 0 33.33%;
        max-width: 30.33%;
        padding: 0 1em;
    }
}


footer {
    position: absolute;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}



.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}